<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
				http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0"
	>

	<welcome-file-list>
		<welcome-file>Index</welcome-file>
	</welcome-file-list>


	<servlet>
		<servlet-name>Startup</servlet-name>
		<servlet-class>Startup</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>


	<servlet>
		<servlet-name>Index</servlet-name>
		<servlet-class>Index</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>Index</servlet-name>
	    <url-pattern>/index</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Home</servlet-name>
		<servlet-class>Home</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>Home</servlet-name>
	    <url-pattern>/Home</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>Register</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>Register</servlet-name>
	    <url-pattern>/Register</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>Login</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>Login</servlet-name>
	    <url-pattern>/Login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RegisterData</servlet-name>
		<servlet-class>RegisterData</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>RegisterData</servlet-name>
	    <url-pattern>/RegisterData</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LoginData</servlet-name>
		<servlet-class>LoginData</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>LoginData</servlet-name>
	    <url-pattern>/LoginData</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ViewOrders</servlet-name>
		<servlet-class>ViewOrders</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>ViewOrders</servlet-name>
	    <url-pattern>/ViewOrders</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ViewCart</servlet-name>
		<servlet-class>ViewCart</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>ViewCart</servlet-name>
	    <url-pattern>/ViewCart</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Sports</servlet-name>
		<servlet-class>Sports</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>Sports</servlet-name>
	    <url-pattern>/Sports</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Phones</servlet-name>
		<servlet-class>Phones</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>Phones</servlet-name>
	    <url-pattern>/Phones</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Automobiles</servlet-name>
		<servlet-class>Automobiles</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>Automobiles</servlet-name>
	    <url-pattern>/Automobiles</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Miscellaneous</servlet-name>
		<servlet-class>Miscellaneous</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>Miscellaneous</servlet-name>
	    <url-pattern>/Miscellaneous</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>EditProduct</servlet-name>
		<servlet-class>EditProduct</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>EditProduct</servlet-name>
	    <url-pattern>/EditProduct</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AddNewProduct</servlet-name>
		<servlet-class>AddNewProduct</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>AddNewProduct</servlet-name>
	    <url-pattern>/AddNewProduct</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>WriteReview</servlet-name>
		<servlet-class>WriteReview</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>WriteReview</servlet-name>
	    <url-pattern>/WriteReview</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Trending</servlet-name>
		<servlet-class>Trending</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>Trending</servlet-name>
	    <url-pattern>/Trending</url-pattern>
	</servlet-mapping>



</web-app>